<div class="select-box">
  <div class="box-name">
    <a href="#">Home</a>
    <a href="#">Biography</a>
    <a href="#">Discography</a>
    <a href="#">Schedule</a>
    <a href="#">Video</a>
    <a href="#">Contact</a>
  </div>
  <div class="top-image">
  <img src="fakefive.png" alt="fake_five" title="fake_five">
  </div>
</div>